<div class="col-sm-4"></div>
<div class="col-sm-4" ng-controller="guestLoginController">
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" name="email" ng-model="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email"
            required>
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="col-sm-3"></div>
    <div class="col-sm-8">
        <button ng-click="" class="btn btn-primary">Login As Guest</button>
    </div>
    <br><br>
    <div class="col-sm-4"></div>
    <div class="col-sm-3">
    <h3>(OR)</h3></div><br><br><br><br>
    <div class="col-sm-3"></div>
    <div class="col-sm-8 row">
        <a href="#login" id="login" class="btn btn-primary">&nbsp;Login&nbsp;</a>
        <a href='#register' class="btn btn-success">Register</a>
    </div>
    </form>
</div>